<!DOCTYPE HTML>
<html>
<head>
	<title>Lexicon Test Game- Login</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--<link rel="stylesheet" href="../static/css/main.css" />-->
	<style>
	html, body{
		height: 100%;
	}
	body{
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		/*flex-direction: row;*/
		align-content: space-between;
	}
	header, section, footer{
		display: flex;
		width: 100%;
	}
	header{
		height: 100px;
		min-width: 200px;
		background-color: red;
	}
	section{
		height: 100%;
		min-width: 200px;
		background-color: green;
	}
	footer{
		height: 100px;
		min-width: 200px;
		background-color: yellow;
	}
	</style>
</head>
<body class="login-body" >
	<header>
		header
	</header>

	<section>
		content
	</section>


	<footer>
		footer
	</footer>

</body>
</html>
