<!DOCTYPE HTML>
<html>
<head>
	<title>Lexicon Test Game- Login</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--<link rel="stylesheet" href="../static/css/main.css" />-->
	<style>
	html, body{
		height: 100%;
	}
	.container{
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		/*flex-direction: column;*/
		align-content: space-between;
	}
	.header, .content, .footer{
		display: flex;
		width: 100%;
	}
	.header{
		height: 100px;
	width: 200px;
		background-color: red;
	}
	.content{
		height: 100%;
	width: 200px;
		background-color: green;
	}
	.footer{
	height: 100px;
width: 200px;
		background-color: yellow;
	}
	</style>
</head>
<body class="login-body" >
	<div class="container">
		<div class="header">
			header
		</div>
		<div class="content">
			content
		</div>
		<div class="footer">
			footer
		</div>
	</div>



</body>
</html>
