<!DOCTYPE HTML>
<html>
<head>
	<title>Lexicon Test Game- Login</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="../static/css/main.css" />
</head>
<body class="login-body">
	<header>
		<div><!-- Logo -->
			<h1><a id="logo" href="index.html" >Lexicon Test</a></h1>
		</div>
	</header>



	<main>
		<div class="login-content">
			<form class="form-signin" action="/play/play.html" method="POST" >
					<div><h2>Connexion</h2></div>
					<div><input id="login" type="text" name="login" placeholder="Login"/></div>
					<div><input id="password" type="password" name="password" placeholder="Password"/></div>
					<div><button id="btn-validate" class="button-animated" type="Submit" text="Login"><span>Login</span></button></div>
			</form>
			<div class="register"><p>Want to play ? <a id="link-register" href="/registration.html"><strong>Create an account</strong></a>.</p></div>
		</div>
	</main>

	<footer>
		<!-- Copyright -->
		<div>
			<ul class="menu-copyright">
				<li>&copy; C*. All rights reserved</li>
				<li>Design: <a href="http://ca.net">ca</a> 2017</li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="../static/js/jquery-3.2.1.min.js"></script>

</body>
</html>
