<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="lib_css" th:remove="tag">
  <link rel="stylesheet" th:href="@{/lib/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}">
  <!--/* <link rel="stylesheet" th:href="@{/lib/bootstrap/3.3.7/css/bootstrap.min.css}"> */-->
  <link rel="stylesheet" th:href="@{/lib/fontawsome/5.0.1/css/fontawesome-all.min.css}">
  <link rel="stylesheet" th:href="@{/lib/flag-icon-css/2.9.0/css/flag-icon.min.css}">
<!--/* 
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/webjars/fontawsome/5.0.1/css/fontawesome-all.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/flag-icon-css/2.9.0/css/flag-icon.min.css}">
*/-->
</head>

<body>
</body>
</html>